HTTP_ADDRESS=:4050
APP_ENV=development
SERVICE_VERSION=local
GITHUB_API_URL=https://api.github.com
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY_BASE64=
GITHUB_WEBHOOK_SECRET=
API_AUTH_ENABLED=true
API_AUTH_TOKEN=
REQUESTS_PER_SECOND=1000
REQUEST_BURST=2000
